                html {
                    background-color: #00800038;
                    /* width: auto !important; */
                }
                
                body {
                    width: 100%;
                }
                
                .header {
                    float: left;
                    width: 100%;
                    background-image: url('../img/1 (6).jpg');
                    background-blend-mode: color-dodge;
                }
                
                button a {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                }
                
                button {
                    border: 5px solid #98cd95;
                    background: black;
                    color: white;
                    border-radius: 10px;
                    min-width: 170px;
                    text-align: center;
                    margin-top: 10px;
                    height: 50px;
                    -moz-box-shadow: 2px 2px 2px #01290f;
                    -webkit-box-shadow: 2px 2px 2px #01290f;
                    box-shadow: 2px 2px 2px #01290f;
                }
                
                p#tagline {
                    margin-top: -70px;
                    padding: 15px;
                }
                
                input#searchbar {
                    width: auto;
                    height: 60px;
                    font-size: 20px;
                    font-family: cursive;
                    color: white;
                    background: #00192b;
                    border-radius: 30px;
                    text-align: center;
                    border: 10px solid #70acd8;
                    border-style: groove;
                    margin-bottom: 20px;
                }
                
                .col2-header {
                    font-size: 40px;
                    font-family: jokerman;
                    text-align: block;
                }
                
                aside.col1-header {
                    /* display: contents; */
                    width: 20%;
                    display: inline-block;
                    /* float: left; */
                    top: -50px;
                    /* text-align: right; */
                }
                
                aside.col2-header {
                    text-align: center;
                    width: 50%;
                    margin-top: -30px;
                    display: inline-block;
                }
                
                aside.col2-header p {
                    font-family: arial;
                    font-size: 16px;
                    width: fit-content;
                    text-align: center;
                    margin-inline: auto;
                    color: lemonchiffon;
                    background: #002601;
                    border-radius: 20px
                }
                
                aside.col3-header {
                    width: 20%;
                    display: inline-block;
                    float: right;
                }
                
                .about {
                    text-align: center;
                }
                
                aside.col2-header h1 span#t1 {
                    color: #8e8efb;
                    background: #010f00;
                    /* border-radius: 20px 0px 0px 20px; */
                }
                
                span#t2 {
                    color: #1de605;
                    background: #010f00;
                }
                
                span#t3 {
                    color: red;
                    background: #010f00;
                    border-radius: 0px 0px 0px 0px !important;
                }
                
                span#t4 {
                    color: orange;
                    background: #010f00;
                    /* border-radius: 0px 20px 20px 0px !important; */
                }
                
                .col1-body {
                    min-height: 450px;
                    width: 20%;
                    float: left;
                    /*background-image: url('./img/1 (6).jpg');*/
                }
                
                .col2-body {
                    min-height: 450px;
                    width: 60%;
                    float: left;
                    display: inline-block;
                }
                
                .col3-body {
                    min-height: 450px;
                    width: 20%;
                    float: left;
                    background-position-x: center;
                    /*  background-image: url('./img/1 (6).jpg');*/
                }
                
                div.menu-wrap {
                    text-align: center;
                    margin-top: -20px;
                    background: radial-gradient(#4ddeff78, #516b5c00);
                }
                
                div.footer {
                    border: 12px solid #002d02;
                    min-height: 180px;
                    display: inline-block;
                }
                
                div.footer2 {
                    max-height: 40px !important;
                    min-height: 40px !important;
                    width: 100% !important;
                    text-align: center;
                    background: radial-gradient(#43ff4c, #c7e3c700);
                    border: 1px solid #c7e3c700;
                }
                
                div.col1-footer h2 {
                    text-decoration: underline;
                }
                
                .col1-footer {
                    width: 33.33%;
                    float: left;
                    display: inline-block;
                    text-align: center;
                    min-height: 190px;
                    background: #8e8efb;
                }
                
                div.col1-footer p {
                    padding: 0px 10px 0px 10px;
                }
                
                div.col2-footer h2 {
                    text-decoration: underline;
                }
                
                .col2-footer {
                    width: 33.33%;
                    float: left;
                    display: inline-block;
                    text-align: center;
                    min-height: 190px;
                    background: #0d7900;
                }
                
                .col2-footer p {
                    color: wheat;
                    padding: 0px 10px 0px 10px;
                }
                
                div.col3-footer h2 {
                    text-decoration: underline;
                }
                
                .col3-footer {
                    width: 33.33%;
                    float: left;
                    display: inline-block;
                    text-align: center;
                    min-height: 190px;
                    background: orange;
                }
                
                .fieldname {
                    float: left;
                    width: 120px;
                }
                
                .main {
                    margin-left: 40px;
                    min-height: 300px;
                }
                
                .info {
                    background: #c7e3c7;
                    color: #ff0d0d;
                    border: 0px solid green;
                    padding: 5px 10px;
                    margin-left: 40px;
                    border-radius: 57px;
                }
                
                a {
                    text-decoration: none;
                }
                
                .menu li a {
                    color: black;
                    text-decoration: none;
                }
                
                .menu li,
                .button {
                    display: inline;
                    padding: 4px 6px;
                    border: 1px solid #00192b;
                    background: #d6a901;
                    color: #000;
                    text-decoration: none;
                    margin-right: 8px;
                    border-radius: 5px;
                    -moz-box-shadow: 2px 2px 2px #072d03;
                    -webkit-box-shadow: 2px 2px 2px #072d03;
                    box-shadow: 2px 2px 2px #072d03;
                }
                
                .subhead {
                    font-weight: bold;
                }
                
                .taken,
                .error {
                    color: red;
                }
                
                .available {
                    color: green;
                }
                
                .whisper {
                    font-style: italic;
                    color: #006600;
                }
                
                form.uform {
                    text-align: center;
                    font-family: system-ui;
                }
                
                .main h3 {
                    text-align: center;
                    font-family: system-ui;
                }
                
                select.finput {
                    height: 67px;
                    width: 35%;
                    border: 3px solid #67b5a6;
                }
                
                select.finput {}
                
                input.finput {
                    display: inline;
                    padding: 4px 6px;
                    border: 3px solid #67b5a6;
                    color: #000;
                    border-radius: 5px;
                    float: left;
                    height: 20px;
                    margin-bottom: 5px;
                    width: 45%;
                    margin-right: 8px;
                }
                
                textarea.finput {
                    width: 95% !important;
                    height: 80px;
                }
                
                div.article {
                    column-count: 3;
                    padding: 40 px;
                }
                
                .acover {
                    width: 350px;
                    height: 150px;
                }
                
                .col1-header marquee {
                    margin-bottom: 190px;
                }
                /*Responsive mobile 360px*/
                
                @media screen and (max-width: 1200px) and (min-width:601px) {}
                
                @media screen and (max-width: 650px) and (min-width:310px) {
                    .header {
                        margin-left: 0px !important;
                        /* width: auto !important; */
                        padding: 0px;
                        margin: 5px;
                    }
                    span#t1,
                    span#t2,
                    span#t3,
                    span#t4 {
                        padding: 10px;
                    }
                    input#searchbar {
                        width: auto;
                    }
                    aside.col2-header {
                        margin: auto;
                        width: auto;
                        display: block;
                        font-size: 30px;
                    }
                    aside.col1-header marquee {
                        margin: auto;
                        margin-right: 20px;
                        margin-left: 30px;
                        width: 300px !important;
                        display: block;
                    }
                    aside.col3-header {
                        display: none;
                    }
                    .info {
                        margin: 0;
                    }
                    div.main {
                        /* height: 1000px !important; */
                    }
                    input.finput {
                        width: 90% !important;
                        height: 50px;
                        font-size: 16px;
                    }
                    .col1-footer,
                    .col2-footer,
                    .col3-footer {
                        width: 100%;
                    }
                    /* aside.col1-header,
                aside.col2-header,
                aside.col2-header {
                    padding: 0px;
                    width: 100% !important;
                } */
                }
                
                @media (max-height: 600px) {}